{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="d-flex flex-column align-items-center justify-content-center mt-5">
    <div class="card shadow-lg p-4" style="width: 400px; border-radius: 15px;">
        <div class="card-body">
            <h3 class="card-title text-center mb-4">Login</h3>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_username" class="form-label">Username</label>
                    {{ form.username }}
                </div>
                <div class="mb-3">
                    <label for="id_password" class="form-label">Senha</label>
                    {{ form.password }}
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
