{% extends 'base.html' %}
{% load static %}

{% block title %}Registrar Usuário{% endblock %}

{% block content %}
<div class="d-flex flex-column align-items-center justify-content-center mt-5">
    <div class="card shadow-lg p-4" style="width: 400px; border-radius: 15px;">
        <div class="card-body">
            <h3 class="card-title text-center mb-4">Registrar Usuário</h3>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
